In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.dummy import DummyRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import confusion_matrix, classification_report

In [3]:
car_data = pd.read_csv('Resources/car data.csv')
car_dekho = pd.read_csv('Resources/CAR DETAILS FROM CAR DEKHO.csv')
car_details_v3 = pd.read_csv('Resources/Car details v3.csv')

Getting Familiar with the Dataset

In [42]:
car_data.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Car_Name_800,Car_Name_Activa 3g,Car_Name_Activa 4g,Car_Name_Bajaj ct 100,Car_Name_Bajaj Avenger 150,Car_Name_Bajaj Avenger 150 street,Car_Name_Bajaj Avenger 220,Car_Name_Bajaj Avenger 220 dtsi,Car_Name_Bajaj Avenger Street 220,Car_Name_Bajaj Discover 100,Car_Name_Bajaj Discover 125,Car_Name_Bajaj Dominar 400,Car_Name_Bajaj Pulsar NS 200,Car_Name_Bajaj Pulsar 135 LS,Car_Name_Bajaj Pulsar 150,Car_Name_Bajaj Pulsar 220 F,Car_Name_Bajaj Pulsar NS 200,Car_Name_Bajaj Pulsar RS200,Car_Name_Hero CBZ Xtreme,Car_Name_Hero Ignitor Disc,Car_Name_Hero Extreme,Car_Name_Hero Glamour,Car_Name_Hero Honda CBZ extreme,Car_Name_Hero Honda Passion Pro,Car_Name_Hero Hunk,Car_Name_Hero Passion Pro,Car_Name_Hero Passion X pro,Car_Name_Hero Splender Plus,Car_Name_Hero Splender iSmart,Car_Name_Hero Super Splendor,Car_Name_Honda Activa 125,Car_Name_Honda Activa 4G,Car_Name_Honda CB Hornet 160R,Car_Name_Honda CB Shine,Car_Name_Honda CB Trigger,Car_Name_Honda CB Unicorn,Car_Name_Honda CB twister,Car_Name_Honda CBR 150,Car_Name_Honda Dream Yuga,Car_Name_Honda Karizma,Car_Name_Hyosung GT250R,Car_Name_KTM 390 Duke,Car_Name_KTM RC200,Car_Name_KTM RC390,Car_Name_Mahindra Mojo XT300,Car_Name_Royal Enfield Bullet 350,Car_Name_Royal Enfield Classic 350,Car_Name_Royal Enfield Classic 500,Car_Name_Royal Enfield Thunder 350,Car_Name_Royal Enfield Thunder 500,Car_Name_Suzuki Access 125,Car_Name_TVS Apache RTR 160,Car_Name_TVS Apache RTR 180,Car_Name_TVS Jupyter,Car_Name_TVS Sport,Car_Name_TVS Wego,Car_Name_UM Renegade Mojave,Car_Name_Yamaha FZ v 2.0,Car_Name_Yamaha FZ 16,Car_Name_Yamaha FZ S,Car_Name_Yamaha FZ S V 2.0,Car_Name_Yamaha Fazer,Car_Name_alto 800,Car_Name_alto k10,Car_Name_amaze,Car_Name_baleno,Car_Name_brio,Car_Name_camry,Car_Name_ciaz,Car_Name_city,Car_Name_corolla,Car_Name_corolla altis,Car_Name_creta,Car_Name_dzire,Car_Name_elantra,Car_Name_eon,Car_Name_ertiga,Car_Name_etios cross,Car_Name_etios g,Car_Name_etios gd,Car_Name_etios liva,Car_Name_fortuner,Car_Name_grand i10,Car_Name_i10,Car_Name_i20,Car_Name_ignis,Car_Name_innova,Car_Name_jazz,Car_Name_land cruiser,Car_Name_omni,Car_Name_ritz,Car_Name_s cross,Car_Name_swift,Car_Name_sx4,Car_Name_verna,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,2014,3.35,5.59,27000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
1,2013,4.75,9.54,43000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,2017,7.25,9.85,6900,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
3,2011,2.85,4.15,5200,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
4,2014,4.60,6.87,42450,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

In [45]:
# remove all Car_name
# car_data_new = pd.DataFrame(car_data['Year'], car_data['Selling_Price'])
# car_data_new
car_data['Year']

0      2014
1      2013
2      2017
3      2011
4      2014
5      2018
6      2015
7      2015
8      2016
9      2015
10     2017
11     2015
12     2015
13     2015
14     2009
15     2016
16     2015
17     2016
18     2015
19     2010
20     2016
21     2017
22     2011
23     2014
24     2013
25     2011
26     2013
27     2017
28     2010
29     2015
30     2012
31     2011
32     2014
33     2014
34     2014
35     2011
36     2015
37     2003
38     2016
39     2003
40     2016
41     2014
42     2008
43     2014
44     2012
45     2014
46     2013
47     2006
48     2015
49     2017
50     2012
51     2015
52     2017
53     2013
54     2005
55     2009
56     2015
57     2010
58     2014
59     2014
60     2013
61     2015
62     2014
63     2015
64     2017
65     2014
66     2017
67     2010
68     2011
69     2016
70     2014
71     2011
72     2013
73     2011
74     2014
75     2015
76     2013
77     2004
78     2010
79     2012
80     2016
81     2015
82     2017
83     2015
84     2005
85     2006
86     2010
87     2012
88     2013
89     2014
90     2009
91     2014
92     2005
93     2015
94     2008
95     2012
96     2016
97     2017
98     2013
99     2010
100    2016
101    2017
102    2017
103    2017
104    2017
105    2015
106    2014
107    2013
108    2016
109    2017
110    2016
111    2016
112    2014
113    2016
114    2015
115    2015
116    2013
117    2015
118    2015
119    2013
120    2016
121    2011
122    2016
123    2013
124    2012
125    2009
126    2017
127    2016
128    2017
129    2017
130    2017
131    2015
132    2017
133    2016
134    2017
135    2015
136    2014
137    2013
138    2016
139    2015
140    2013
141    2016
142    2015
143    2016
144    2014
145    2012
146    2014
147    2015
148    2010
149    2016
150    2011
151    2016
152    2012
153    2013
154    2014
155    2017
156    2017
157    2015
158    2017
159    2017
160    2011
161    2014
162    2012
163    2010
164    2016
165    2016
166    2016
167    2014
168    2013
169    2015
170    2012
171    2015
172    2014
173    2017
174    2015
175    2011
176    2011
177    2016
178    2014
179    2010
180    2012
181    2016
182    2013
183    2013
184    2008
185    2008
186    2010
187    2013
188    2013
189    2005
190    2008
191    2012
192    2007
193    2013
194    2008
195    2015
196    2008
197    2010
198    2011
199    2007
200    2006
201    2010
202    2015
203    2011
204    2015
205    2016
206    2017
207    2015
208    2017
209    2015
210    2012
211    2015
212    2016
213    2011
214    2017
215    2012
216    2016
217    2016
218    2014
219    2012
220    2017
221    2013
222    2014
223    2015
224    2013
225    2011
226    2015
227    2011
228    2012
229    2012
230    2013
231    2017
232    2015
233    2013
234    2015
235    2017
236    2016
237    2015
238    2013
239    2012
240    2012
241    2015
242    2014
243    2016
244    2013
245    2012
246    2012
247    2015
248    2013
249    2016
250    2016
251    2013
252    2015
253    2014
254    2013
255    2012
256    2016
257    2015
258    2015
259    2014
260    2016
261    2016
262    2015
263    2016
264    2015
265    2017
266    2014
267    2016
268    2017
269    2015
270    2011
271    2009
272    2015
273    2010
274    2014
275    2016
276    2015
277    2015
278    2016
279    2014
280    2015
281    2006
282    2014
283    2016
284    2013
285    2016
286    2016
287    2015
288    2015
289    2016
290    2014
291    2015
292    2016
293    2010
294    2014
295    2015
296    2016
297    2015
298    2009
299    2017
300    2016
Name: Year, dtype: int64

In [17]:
car_dekho.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [18]:
car_details_v3.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [28]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Columns: 110 entries, Year to Transmission_Manual
dtypes: float64(107), int64(3)
memory usage: 258.8 KB

In [ ]:
car_dekho.info()

In [ ]:
car_details_v3.info()

In [ ]:
car_data.isnull().any()

In [ ]:
car_dekho.isnull().any()

In [ ]:
car_details_v3.isnull().any()

Clean the Data

In [4]:
# Generate our categorical variable list
cars_cat = car_data.dtypes[car_data.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
car_data[cars_cat].nunique()

Car_Name        98
Fuel_Type        3
Seller_Type      2
Transmission     2
dtype: int64

In [5]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(car_data[cars_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cars_cat)
encode_df.head()

,Car_Name_800,Car_Name_Activa 3g,Car_Name_Activa 4g,Car_Name_Bajaj ct 100,Car_Name_Bajaj Avenger 150,Car_Name_Bajaj Avenger 150 street,Car_Name_Bajaj Avenger 220,Car_Name_Bajaj Avenger 220 dtsi,Car_Name_Bajaj Avenger Street 220,Car_Name_Bajaj Discover 100,...,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

In [6]:
# Merge one-hot encoded features and drop the originals
car_data = car_data.merge(encode_df,left_index=True, right_index=True)
car_data = car_data.drop(cars_cat,1)
car_data.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Car_Name_800,Car_Name_Activa 3g,Car_Name_Activa 4g,Car_Name_Bajaj ct 100,Car_Name_Bajaj Avenger 150,...,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,2014,3.35,5.59,27000,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
1,2013,4.75,9.54,43000,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,2017,7.25,9.85,6900,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
3,2011,2.85,4.15,5200,0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
4,2014,4.60,6.87,42450,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

In [ ]:
standard_scale = StandardScaler()
standard_scale.fit(car_data)
car_data_scaled = standard_scale.transform(car_data)

In [7]:
X = car_data_scaled.drop(columns=['Selling_Price'])
y = car_data_scaled['Selling_Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state = 42)

In [13]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [14]:
# classification Report added
# Making predictions using the testing data.
predictions = lm.predict(X_test_normalized)

# Calculating the confusion matrix.
# confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
# cm_df = pd.DataFrame(cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

# cm_df

In [15]:
predictions[0:10]

array([ 1.34178575,  9.62942037,  5.53274337, -0.41137267,  8.61124771,
        6.76999689,  1.48136935,  0.16973121,  0.98864485,  6.7273312 ])

In [19]:
lm.coef_

array([ 5.88644849e-01,  6.30297008e-01, -2.27278172e-06,  1.52410995e-02,
        6.04340734e+00,  1.86222239e+00,  9.97935068e-10, -1.64044631e-01,
       -5.48869933e-01, -6.69323770e-01, -8.91600877e-01, -1.82950930e-01,
        2.03844705e+00,  9.76881573e-01,  1.42634675e+00, -9.54934523e-01,
        4.38227232e-10,  3.94494925e-01,  2.88270591e+00,  9.56324532e-01,
        1.26208750e+00, -5.41761173e-01,  1.57704960e-11,  7.85005357e-01,
        4.54795881e-01,  8.87033527e-01, -7.57527374e-12,  1.65895303e+00,
        4.31066430e+00, -4.29132518e-01, -5.86748919e-01, -6.99445276e-01,
       -1.30438389e-01,  5.63028525e+00,  9.09050613e-12, -1.47272750e+00,
       -1.01269320e+00,  4.36214701e+00,  1.46718748e-11, -2.07981420e-01,
        1.79577396e+00,  3.13801861e-01, -9.08717546e-12,  2.37133599e+00,
       -4.35516979e-01,  1.99445527e-02, -7.90428989e-01, -3.16381495e-01,
       -2.90461787e-11, -4.84352607e-01,  3.92028122e-01,  3.19786365e+00,
        1.77347905e+00,  9.37237888e-02,  3.56084160e+00,  2.21885738e-01,
        1.23704518e+00,  2.05654890e-01, -1.21284937e+00,  2.46705263e+00,
        4.84086382e-12, -3.84303754e-01,  5.21695757e-02,  1.43339138e+00,
       -4.75289926e-01,  2.71168643e-11, -1.75223095e+00, -3.31809078e-01,
       -9.01411517e-01, -1.03059043e+00, -7.39436224e-02, -7.33055103e+00,
       -5.59923052e-01, -6.67033052e-01,  1.18923230e-11, -3.01110079e+00,
        1.34189678e+00, -5.17511568e-01,  7.46435769e-01, -1.41334794e+00,
       -6.57165576e-01, -1.58849591e+00, -3.37787795e-01, -1.91088181e+00,
       -7.82757868e-01, -1.62152420e+00, -1.31344789e-01,  1.09499928e+00,
       -9.91861139e-02, -1.03155535e+00,  1.60325102e+00, -6.89338536e-01,
       -2.20489633e+01,  2.73350276e-01, -4.95936683e-02, -5.65912595e-11,
       -1.51884269e-01,  5.78764607e-01, -2.93708621e-01, -4.99624300e-12,
        1.69591163e+00, -8.26986655e-01, -1.52572505e+00,  1.08448110e+00,
        4.41243943e-01,  4.69413728e-01, -4.69413729e-01,  1.13260708e-01,
       -1.13260711e-01])

In [29]:
pd.set_option("display.max_rows", 1000, "display.max_columns", 1000)

In [30]:
coeff_parameter = pd.DataFrame(lm.coef_,X.columns,columns=['Coefficient'])
coeff_parameter

                                     Coefficient
Year                                5.886448e-01
Present_Price                       6.302970e-01
Kms_Driven                         -2.272782e-06
Owner                               1.524110e-02
Car_Name_800                        6.043407e+00
Car_Name_Activa 3g                  1.862222e+00
Car_Name_Activa 4g                  9.979351e-10
Car_Name_Bajaj  ct 100             -1.640446e-01
Car_Name_Bajaj Avenger 150         -5.488699e-01
Car_Name_Bajaj Avenger 150 street  -6.693238e-01
Car_Name_Bajaj Avenger 220         -8.916009e-01
Car_Name_Bajaj Avenger 220 dtsi    -1.829509e-01
Car_Name_Bajaj Avenger Street 220   2.038447e+00
Car_Name_Bajaj Discover 100         9.768816e-01
Car_Name_Bajaj Discover 125         1.426347e+00
Car_Name_Bajaj Dominar 400         -9.549345e-01
Car_Name_Bajaj Pulsar  NS 200       4.382272e-10
Car_Name_Bajaj Pulsar 135 LS        3.944949e-01
Car_Name_Bajaj Pulsar 150           2.882706e+00
Car_Name_Bajaj Pulsar 220 F         9.563245e-01
Car_Name_Bajaj Pulsar NS 200        1.262088e+00
Car_Name_Bajaj Pulsar RS200        -5.417612e-01
Car_Name_Hero  CBZ Xtreme           1.577050e-11
Car_Name_Hero  Ignitor Disc         7.850054e-01
Car_Name_Hero Extreme               4.547959e-01
Car_Name_Hero Glamour               8.870335e-01
Car_Name_Hero Honda CBZ extreme    -7.575274e-12
Car_Name_Hero Honda Passion Pro     1.658953e+00
Car_Name_Hero Hunk                  4.310664e+00
Car_Name_Hero Passion Pro          -4.291325e-01
Car_Name_Hero Passion X pro        -5.867489e-01
Car_Name_Hero Splender Plus        -6.994453e-01
Car_Name_Hero Splender iSmart      -1.304384e-01
Car_Name_Hero Super Splendor        5.630285e+00
Car_Name_Honda Activa 125           9.090506e-12
Car_Name_Honda Activa 4G           -1.472727e+00
Car_Name_Honda CB Hornet 160R      -1.012693e+00
Car_Name_Honda CB Shine             4.362147e+00
Car_Name_Honda CB Trigger           1.467187e-11
Car_Name_Honda CB Unicorn          -2.079814e-01
Car_Name_Honda CB twister           1.795774e+00
Car_Name_Honda CBR 150              3.138019e-01
Car_Name_Honda Dream Yuga          -9.087175e-12
Car_Name_Honda Karizma              2.371336e+00
Car_Name_Hyosung GT250R            -4.355170e-01
Car_Name_KTM 390 Duke               1.994455e-02
Car_Name_KTM RC200                 -7.904290e-01
Car_Name_KTM RC390                 -3.163815e-01
Car_Name_Mahindra Mojo XT300       -2.904618e-11
Car_Name_Royal Enfield Bullet 350  -4.843526e-01
Car_Name_Royal Enfield Classic 350  3.920281e-01
Car_Name_Royal Enfield Classic 500  3.197864e+00
Car_Name_Royal Enfield Thunder 350  1.773479e+00
Car_Name_Royal Enfield Thunder 500  9.372379e-02
Car_Name_Suzuki Access 125          3.560842e+00
Car_Name_TVS Apache RTR 160         2.218857e-01
Car_Name_TVS Apache RTR 180         1.237045e+00
Car_Name_TVS Jupyter                2.056549e-01
Car_Name_TVS Sport                 -1.212849e+00
Car_Name_TVS Wego                   2.467053e+00
Car_Name_UM Renegade Mojave         4.840864e-12
Car_Name_Yamaha FZ  v 2.0          -3.843038e-01
Car_Name_Yamaha FZ 16               5.216958e-02
Car_Name_Yamaha FZ S                1.433391e+00
Car_Name_Yamaha FZ S V 2.0         -4.752899e-01
Car_Name_Yamaha Fazer               2.711686e-11
Car_Name_alto 800                  -1.752231e+00
Car_Name_alto k10                  -3.318091e-01
Car_Name_amaze                     -9.014115e-01
Car_Name_baleno                    -1.030590e+00
Car_Name_brio                      -7.394362e-02
Car_Name_camry                     -7.330551e+00
Car_Name_ciaz                      -5.599231e-01
Car_Name_city                      -6.670331e-01
Car_Name_corolla                    1.189232e-11
Car_Name_corolla altis             -3.011101e+00
Car_Name_creta                      1.341897e+00
Car_Name_dzire                     -5.175116e-01
Car_Name_elantra                    7.464358e-01
Car_Name_eon                       -1.413348e+00
Car_Name_ertiga                    -6.571656e-01
Car_Name_etios cross               -1.588496e+00
Car_Name_etios g                   -3.377878e-01
Car_Name_etios gd                  -1.910882e+00
Car_Name_etios liva                -7.827579e-01
Car_Name_fortuner                  -1.621524e+00
Car_Name_grand i10                 -1.313448e-01
Car_Name_i10                        1.094999e+00
Car_Name_i20                       -9.918611e-02
Car_Name_ignis                     -1.031555e+00
Car_Name_innova                     1.603251e+00
Car_Name_jazz                      -6.893385e-01
Car_Name_land cruiser              -2.204896e+01
Car_Name_omni                       2.733503e-01
Car_Name_ritz                      -4.959367e-02
Car_Name_s cross                   -5.659126e-11
Car_Name_swift                     -1.518843e-01
Car_Name_sx4                        5.787646e-01
Car_Name_verna                     -2.937086e-01
Car_Name_vitara brezza             -4.996243e-12
Car_Name_wagon r                    1.695912e+00
Car_Name_xcent                     -8.269867e-01
Fuel_Type_CNG                      -1.525725e+00
Fuel_Type_Diesel                    1.084481e+00
Fuel_Type_Petrol                    4.412439e-01
Seller_Type_Dealer                  4.694137e-01
Seller_Type_Individual             -4.694137e-01
Transmission_Automatic              1.132607e-01
Transmission_Manual                -1.132607e-01